{% extends "base.html" %}

{% block title %} - API Documentation {% endblock %}

{% block style %}
{{ parent() }}

pre {
    padding: 2px;
    border: 1px dashed #BBB;
}
{% endblock %}

{% block content %}

<div class="center" style="min-width: 800px; width: 50%">
    <div>
        <h2>API Documentation</h2>
        <p>This site and API is in development. As such, returned data could be different, or methods be deprecated / replaced anytime. Though it will be avoided if possible :)</p>
        <p>All the data showed on this site comes from the API or Monero. So if new features are added on site, it's possible to do so via the API.</p>
        <p>At the moment there is no broad rate-limiting. If abuse is detected, temporary rate limits can be put in place. You can always run your own instance of this site/API, see <a href="https://github.com/WeebDataHoarder/p2pool-log">source code</a>.</p>
        <p>Some historical data could be incomplete. These values have been replaced with all 0's / null bytes or 255 / 0xFF bytes depending on value. Some raw block records do not exist.</p>
        <p>In general, mandatory parameters are specified on the path, optional parameters on query.</p>
        <p><strong>Knowledge of P2Pool internals is strongly advised.</strong> Feel free to ask questions on IRC.</p>
        <p>Unless specified, all returned data is JSON with status code 200. A not found error will issue a status code 404 and JSON of <code>{"error": "not_found"}</code> or similar.</p>
    </div>

    <hr/>

    <div>
        <h3 class="mono">/api/pool_info</h3>
        <p>Response contains general information on the current status of the P2Pool sidechain and Monero network, release versions, and other parameters.</p>
        <p><em>.sidechain.effort.last</em> keys are Monero block id effort for last found blocks.</p>
        <pre class="smaller">
[result has been cut due to size, relevant portions shown]
curl --silent https://{{ getenv('NET_SERVICE_ADDRESS') }}/api/pool_info
{
    "sidechain": {
        "consensus": {
            "network_type": "mainnet",
            "name": "mainnet test 2",
            "password": "",
            "block_time": 10,
            "min_diff": 100000,
            "pplns_window": 2160,
            "uncle_penalty": 20
        },
        "id": "d526cf516019ece4dbb5782f429a8333df9979932510ef26a91a5c2d02e6ac4a",
        "height": 4868262,
        "difficulty": "00000000000000000000000077cdd958",
        "cumulative_difficulty": "0000000000000000001aed8a900b6e8e",
        "timestamp": 1681256801,
        "effort": {
            "current": 109.31824000162864,
            "average10": 32.98600297507685,
            "average": 77.65727684146015,
            "average200": 89.19728805502012,
            "last": {
                "e3ec5e7e7cb76cfd2cff284a8812e4b0aeddf04115eb04440e6d26bd9825b7bb": 9.403366358670995,
                "e6ceaa02039c09022baaec73146340e20a64b6da19ecd234169c7bf73a569bdd": 1.8807123325645854,
                "393abe826d25c72fb320fa4bad980728c8e54756fa3ae8945bbb13af964c251c": 91.37117352907373,
                "d6ff0c1956d6743e137475a3b23823f620bf964ec89eb4891870af4c5db77a2a": 22.115510860859477,
                "544ad16d7c83f6e3636e965eed17a92449e64538d571064d1f3fa0c3d35d2768": 47.80476995257288,
                "6220069168433fa220f94600dbca7468d0e94a29a669eeb5e1449e181bdac624": 6.130222064837835,
                "108ae4af9aad47a1968c205a76ea57fd2fa0cc480d6109ee36f4a0eaa4422810": 32.87182581089726,
                "7a3d57b90e537f6414f9f898e76f16c22af20f77512dc2cbcf7571b561ecb88c": 39.24260486339777
            }
        },
        "window": {
            "miners": 28,
            "blocks": 323,
            "uncles": 13,
            "weight": "00000000000000000000009eb206d209",
            "versions": [
                {
                    "weight": "00000000000000000000005487eca8a5",
                    "share": 53.266160234670814,
                    "count": 179,
                    "software_id": 0,
                    "software_version": 196610,
                    "software_string": "P2Pool v3.2"
                },
                {
                    "weight": "00000000000000000000003245f084b0",
                    "share": 31.679050570070547,
                    "count": 106,
                    "software_id": 0,
                    "software_version": 196609,
                    "software_string": "P2Pool v3.1"
                },
                {
                    "weight": "000000000000000000000017e429a4b4",
                    "share": 15.054789195258637,
                    "count": 51,
                    "software_id": 0,
                    "software_version": 196608,
                    "software_string": "P2Pool v3.0"
                }
            ]
        },
        "window_size": 323,
        "max_window_size": 2160,
        "block_time": 10,
        "uncle_penalty": 20,
        "found": 22805,
        "miners": 5142
    },
    "mainchain": {
        "id": "8bc31d75dadb3d2eae8f30232f327d5726e8f9cea9185f3ef56255594605a1c8",
        "height": 2862299,
        "difficulty": "00000000000000000000004c2f36c75d",
        "block_time": 120
    },
    "versions": {
        "p2pool": {
            "version": "v3.2",
            "timestamp": 1680284891,
            "link": "https://github.com/SChernykh/p2pool/releases/tag/v3.2"
        },
        "monero": {
            "version": "v0.18.2.2",
            "timestamp": 1681139283,
            "link": "https://github.com/monero-project/monero/releases/tag/v0.18.2.2"
        }
    }
}
        </pre>
    </div>

    <hr/>

    <div>
        <h3 class="mono">/api/miner_info/&lt;id|address&gt;</h3>
        <p>Response contains general information on a specific miner, referred by its internal <em>id</em> or known Monero <em>address</em>.</p>
        <pre class="smaller">
curl --silent https://{{ getenv('NET_SERVICE_ADDRESS') }}/api/miner_info/47ab14EokGgCTX7RYoVhrNMjVA7GfW1jyMAmL7qBQz9fa4RZ6ZsBUgeRGuPWjqeM1wLptSJH5xuX2H4mAepMYvu6JqWMsGw
{
    "id": 3,
    "address": "47ab14EokGgCTX7RYoVhrNMjVA7GfW1jyMAmL7qBQz9fa4RZ6ZsBUgeRGuPWjqeM1wLptSJH5xuX2H4mAepMYvu6JqWMsGw",
    "shares": [
        {
            "shares": 1022,
            "uncles": 0,
            "last_height": 4371641
        },
        {
            "shares": 559294,
            "uncles": 17861,
            "last_height": 4868281
        },
        {
            "shares": 69,
            "uncles": 0,
            "last_height": 4624653
        }
    ],
    "last_share_height": 4868281,
    "last_share_timestamp": 1681256979
}
        </pre>
    </div>

    <hr/>

    <div>
        <h3 class="mono">/api/shares_in_window/&lt;id|address&gt;?window=[window_size]&from=[height]</h3>
        <p>Response contains shares on specified range window for a specific miner. Optional parameters are <em>height</em>, denoting the Tip where the window gets measured from, and <em>window_size</em>, max SIDECHAIN_PPLNS_WINDOW * 4</p>
        <p>By default it will return current window shares, from current tip.</p>
        <p>For each share, <em>weight</em> denotes how much is worth difficulty wise.</p>
        <pre class="smaller">
[result has been cut due to size, relevant portions shown]
curl --silent https://{{ getenv('NET_SERVICE_ADDRESS') }}/api/shares_in_window/47ab14EokGgCTX7RYoVhrNMjVA7GfW1jyMAmL7qBQz9fa4RZ6ZsBUgeRGuPWjqeM1wLptSJH5xuX2H4mAepMYvu6JqWMsGw
[
    {
        "id": "fe76125e3a3bc93698f6ef7063ce52bbff62102225f38e212b375d0b6a580295",
        "height": 4868332,
        "timestamp": 1681257374,
        "weight": 1990675105
    },
    {
        "parent": {
            "id": "d885ea8ff1556e44489da8682c11b2ae6fff9b94c5e97a134d235f5dd758919b",
            "height": 4868129
        },
        "id": "9922bcaecdfffd0bbc19636d47dce9d08f7c17aacad7d607f2f6f524f75e5a05",
        "height": 4868128,
        "timestamp": 1681255318,
        "weight": 1637112004
    },
    {
        "id": "1471f2f2e62d527ca83ce5812a1a0faedcc35c1a6fea7783d267370e478263a2",
        "height": 4868079,
        "timestamp": 1681254664,
        "weight": 2052258578
    },
    {
        "id": "2b1e4ba179c7f29d022456e4a4e7e56487e482181414fa4cd28680bea256b3d3",
        "height": 4868078,
        "timestamp": 1681254658,
        "weight": 2460486101,
        "uncles": [
            {
                "id": "da68e73b89820c13656f696a0b9a95e8c4091ced14346b7342095dbf22c33952",
                "height": 4868077,
                "weight": 410281813
            }
        ]
    },
    {
        "id": "78b7d4f77698ef186ebf249cc44d13fe80555b03e0d27234b245c4df1af08c9e",
        "height": 4868013,
        "timestamp": 1681254006,
        "weight": 2030339407
    }
]
        </pre>
    </div>

    <hr/>

    <div>
        <h3 class="mono">/api/payouts/&lt;id|address&gt;?search_limit=[search_limit]</h3>
        <p>Response contains payouts received by this miner due to blocks on Monero network. Optional parameters are <em>search_limit</em>, maximum amount of records to return. Defaults to 10</p>
        <p><em>.[].coinbase.private_key</em> can be used to prove the payout is correct.</p>
        <pre class="smaller">
[result has been cut due to size, relevant portions shown]
curl --silent https://{{ getenv('NET_SERVICE_ADDRESS') }}/api/payouts/47ab14EokGgCTX7RYoVhrNMjVA7GfW1jyMAmL7qBQz9fa4RZ6ZsBUgeRGuPWjqeM1wLptSJH5xuX2H4mAepMYvu6JqWMsGw
[
    {
        "id": "18cf7e7a359810b93ad0183c4c401acf69562b5dd3a9e35242cc4f8a890feb9a",
        "height": 4868094,
        "main": {
            "id": "e3ec5e7e7cb76cfd2cff284a8812e4b0aeddf04115eb04440e6d26bd9825b7bb",
            "height": 2862289
        },
        "timestamp": 1681254924,
        "coinbase": {
            "id": "105a638f1c56446a2ca97ec6c8f0e9c555af48df7e3c8b5552d80f25c1e64979",
            "reward": 175877640000,
            "private_key": "69447e1446075c2df723ef5e4cd35836816b9ac72f181e609f0bf45a6397530f",
            "index": 5,
            "global_output_index": 71556612
        }
    },
    {
        "id": "1471f2f2e62d527ca83ce5812a1a0faedcc35c1a6fea7783d267370e478263a2",
        "height": 4868079,
        "main": {
            "id": "e6ceaa02039c09022baaec73146340e20a64b6da19ecd234169c7bf73a569bdd",
            "height": 2862287
        },
        "timestamp": 1681254664,
        "coinbase": {
            "id": "550ba891052b7325c42f2602f11fc55de575fb25c82b473279c8df0b24893406",
            "reward": 171131022461,
            "private_key": "c008eb0f2e8bdfe35376e83b6474c60d26b67b4982d0354ba199952899f0fd08",
            "index": 15,
            "global_output_index": 71556495
        }
    }
]
        </pre>
    </div>

    <hr/>

    <div>
        <h3 class="mono">/api/found_blocks?limit=[limit]&miner=[id|address][&coinbase]</h3>
        <p>Response contains last found block records on the Monero network by P2Pool. Optional parameters are <em>limit</em>, maximum amount of records to return, defaults to 50, max 1000. Additionally, you can pass the <em>miner</em> parameter to select blocks from that miner only. <em>coinbase</em> parameter can also be used here to decode coinbase outputs.</p>
        <pre class="smaller">
curl --silent https://{{ getenv('NET_SERVICE_ADDRESS') }}/api/found_blocks?limit=2
[
    {
        "id": "18cf7e7a359810b93ad0183c4c401acf69562b5dd3a9e35242cc4f8a890feb9a",
        "height": 4868094,
        "previous_id": "5366fcb13ff53daa6530e5457b63a10a6ffc14293a8858e2462f42541a8f2b4b",
        "coinbase": {
            "id": "105a638f1c56446a2ca97ec6c8f0e9c555af48df7e3c8b5552d80f25c1e64979",
            "reward": 604159430000,
            "private_key": "69447e1446075c2df723ef5e4cd35836816b9ac72f181e609f0bf45a6397530f"
        },
        "difficulty": 2048502871,
        "cumulative_difficulty": "0000000000000000001aed3747797197",
        "timestamp": 1681254924,
        "miner": "4ADyLD6c7hzT5gCYxWnw7k2q5RPDxwqNTMsHcz9n91ir22YJbjBQ4LjGZgcLUVV7tyG33vXfB5SR1iCWaCjEQ7BNJUg6SyJ",
        "pow": "81be81201ce87029d8e6ffa6f2f0cb945633bc4e850037ee1d769c0100000000",
        "main": {
            "id": "e3ec5e7e7cb76cfd2cff284a8812e4b0aeddf04115eb04440e6d26bd9825b7bb",
            "height": 2862289,
            "found": true
        },
        "nonce": 403341455,
        "extra_nonce": 3522802799,
        "transaction_count": 17,
        "software_id": 0,
        "software_version": 196608,
        "template": {
            "id": "0000000000000000000000000000000000000000000000000000000000000000",
            "difficulty": "00000000000000000000004c56df1340"
        },
        "uncles": [],
        "weight": 2048502871
    },
    {
        "id": "1471f2f2e62d527ca83ce5812a1a0faedcc35c1a6fea7783d267370e478263a2",
        "height": 4868079,
        "previous_id": "2b1e4ba179c7f29d022456e4a4e7e56487e482181414fa4cd28680bea256b3d3",
        "coinbase": {
            "id": "550ba891052b7325c42f2602f11fc55de575fb25c82b473279c8df0b24893406",
            "reward": 600208160000,
            "private_key": "c008eb0f2e8bdfe35376e83b6474c60d26b67b4982d0354ba199952899f0fd08"
        },
        "difficulty": 2052258578,
        "cumulative_difficulty": "0000000000000000001aed301d8406b4",
        "timestamp": 1681254664,
        "miner": "47ab14EokGgCTX7RYoVhrNMjVA7GfW1jyMAmL7qBQz9fa4RZ6ZsBUgeRGuPWjqeM1wLptSJH5xuX2H4mAepMYvu6JqWMsGw",
        "pow": "615ecf4e0b7b8f81e60481e955e3ad653861d0c087db6f7903ffd50000000000",
        "main": {
            "id": "e6ceaa02039c09022baaec73146340e20a64b6da19ecd234169c7bf73a569bdd",
            "height": 2862287,
            "found": true
        },
        "nonce": 1090552259,
        "extra_nonce": 437253563,
        "transaction_count": 5,
        "software_id": 0,
        "software_version": 196610,
        "template": {
            "id": "0000000000000000000000000000000000000000000000000000000000000000",
            "difficulty": "00000000000000000000004c351565a4"
        },
        "uncles": [],
        "weight": 2052258578
    }
]
        </pre>
    </div>


    <hr/>

    <div>
        <h3 class="mono">/api/shares?limit=[limit]&miner=[id|address]&[onlyBlocks]</h3>
        <p>Response contains last found share records on P2Pool. Optional parameters are <em>limit</em>, maximum amount of records to return, defaults to 50, max SIDECHAIN_PPLNS_WINDOW. Additionally, you can pass the <em>miner</em> parameter to select shares from that miner only. <em>onlyBlocks</em> can be set to not receive uncle share entries. <em>coinbase</em> parameter can also be used here to decode coinbase outputs</p>
        <pre class="smaller">
curl --silent https://{{ getenv('NET_SERVICE_ADDRESS') }}/api/shares?limit=2
[
    {
        "id": "09d1974eea6de73d3cb95bc495b0b24a7b6f6405eaada53c4ec1ad3f513a4cc8",
        "height": 4868351,
        "previous_id": "b74acca03b7593386dd54b8132bf79522c9861b41f7797d0ce4f2af5f35cc170",
        "coinbase": {
            "id": "0000000000000000000000000000000000000000000000000000000000000000",
            "reward": 0,
            "private_key": "0000000000000000000000000000000000000000000000000000000000000000"
        },
        "difficulty": 2002581944,
        "cumulative_difficulty": "0000000000000000001aedb5f2f0345a",
        "timestamp": 1681257577,
        "miner": "4ApeMQzcRS7huBW8HEGkug2e5kQxhhC2Ub9y8F9bc7arKHsCktAV24n5ezKM9PjX5yS3Pv4PPNMXT8rTAFVuKCRi1jEqJZd",
        "pow": "fe471ad3fbd112fabe2abebafeccd2cb8eb0077864e7cfe939eaa62201000000",
        "main": {
            "id": "5b468e062dc4aa1570f956e6314f6d0634a772aa8d2905d8ab9c83026a7ac6af",
            "height": 2862309,
            "found": false
        },
        "nonce": 3271624915,
        "extra_nonce": 1072029533,
        "transaction_count": 28,
        "software_id": 0,
        "software_version": 196609,
        "template": {
            "id": "0000000000000000000000000000000000000000000000000000000000000000",
            "difficulty": "00000000000000000000004c054ccf15"
        },
        "uncles": [],
        "weight": 2002581944
    },
    {
        "id": "b74acca03b7593386dd54b8132bf79522c9861b41f7797d0ce4f2af5f35cc170",
        "height": 4868350,
        "previous_id": "498adcc483208de7d25f85ced122a6676be1c262d042e1abe72c3ca33e817b7e",
        "coinbase": {
            "id": "0000000000000000000000000000000000000000000000000000000000000000",
            "reward": 0,
            "private_key": "0000000000000000000000000000000000000000000000000000000000000000"
        },
        "difficulty": 1998471582,
        "cumulative_difficulty": "0000000000000000001aedb57b933aa2",
        "timestamp": 1681257573,
        "miner": "4ADyLD6c7hzT5gCYxWnw7k2q5RPDxwqNTMsHcz9n91ir22YJbjBQ4LjGZgcLUVV7tyG33vXfB5SR1iCWaCjEQ7BNJUg6SyJ",
        "pow": "08ed8246e0a22220d4d9628acde4882acd47953eca8e6185627143aa00000000",
        "main": {
            "id": "b52ad7744683bf926a55297308c22b5f8b5a3e9d2024e476a4548bdba8e966ec",
            "height": 2862309,
            "found": false
        },
        "nonce": 335676781,
        "extra_nonce": 2560308305,
        "transaction_count": 27,
        "software_id": 0,
        "software_version": 196608,
        "template": {
            "id": "0000000000000000000000000000000000000000000000000000000000000000",
            "difficulty": "00000000000000000000004c054ccf15"
        },
        "uncles": [],
        "weight": 1998471582
    }
]
        </pre>
    </div>


    <hr/>

    <div>
        <h3 class="mono">/api/block_by_id/&lt;blockId&gt;[/raw|/payouts]</h3>
        <p>Response contains a block/share record on P2Pool by Id. You can select the JSON version or the binary hex format (various format versions exist, decoding is documented by source code). <em>coinbase</em> parameter can also be used here to decode coinbase outputs</p>
        <p>Using <em>/payouts</em> you can query all payouts that include weights by this share.</p>
        <pre class="smaller">
curl --silent https://{{ getenv('NET_SERVICE_ADDRESS') }}/api/block_by_id/bc827aeecb5a5254cec6c2fc9a07f49c1d3c03b92dea39c5d9b3fbb19affe0ef
{
    "id": "09d1974eea6de73d3cb95bc495b0b24a7b6f6405eaada53c4ec1ad3f513a4cc8",
    "height": 4868351,
    "previous_id": "b74acca03b7593386dd54b8132bf79522c9861b41f7797d0ce4f2af5f35cc170",
    "coinbase": {
        "id": "0000000000000000000000000000000000000000000000000000000000000000",
        "reward": 0,
        "private_key": "0000000000000000000000000000000000000000000000000000000000000000"
    },
    "difficulty": 2002581944,
    "cumulative_difficulty": "0000000000000000001aedb5f2f0345a",
    "timestamp": 1681257577,
    "miner": "4ApeMQzcRS7huBW8HEGkug2e5kQxhhC2Ub9y8F9bc7arKHsCktAV24n5ezKM9PjX5yS3Pv4PPNMXT8rTAFVuKCRi1jEqJZd",
    "pow": "fe471ad3fbd112fabe2abebafeccd2cb8eb0077864e7cfe939eaa62201000000",
    "main": {
        "id": "5b468e062dc4aa1570f956e6314f6d0634a772aa8d2905d8ab9c83026a7ac6af",
        "height": 2862309,
        "found": false
    },
    "nonce": 3271624915,
    "extra_nonce": 1072029533,
    "transaction_count": 28,
    "software_id": 0,
    "software_version": 196609,
    "template": {
        "id": "0000000000000000000000000000000000000000000000000000000000000000",
        "difficulty": "00000000000000000000004c054ccf15"
    },
    "uncles": [],
    "weight": 2002581944
}
        </pre>
    </div>



    <hr/>

    <div>
        <h3 class="mono">/api/block_by_height/&lt;blockHeight&gt;[/raw|/payouts]</h3>
        <p>Response contains a block/share record on P2Pool by height. You can select the JSON version or the binary hex format (various format versions exist, decoding is documented by source code). <em>coinbase</em> parameter can also be used here to decode coinbase outputs</p>
        <p>Using <em>/payouts</em> you can query all payouts that include weights by this share.</p>
        <pre class="smaller">
curl --silent https://{{ getenv('NET_SERVICE_ADDRESS') }}/api/block_by_height/4868351
{
    "id": "09d1974eea6de73d3cb95bc495b0b24a7b6f6405eaada53c4ec1ad3f513a4cc8",
    "height": 4868351,
    "previous_id": "b74acca03b7593386dd54b8132bf79522c9861b41f7797d0ce4f2af5f35cc170",
    "coinbase": {
        "id": "0000000000000000000000000000000000000000000000000000000000000000",
        "reward": 0,
        "private_key": "0000000000000000000000000000000000000000000000000000000000000000"
    },
    "difficulty": 2002581944,
    "cumulative_difficulty": "0000000000000000001aedb5f2f0345a",
    "timestamp": 1681257577,
    "miner": "4ApeMQzcRS7huBW8HEGkug2e5kQxhhC2Ub9y8F9bc7arKHsCktAV24n5ezKM9PjX5yS3Pv4PPNMXT8rTAFVuKCRi1jEqJZd",
    "pow": "fe471ad3fbd112fabe2abebafeccd2cb8eb0077864e7cfe939eaa62201000000",
    "main": {
        "id": "5b468e062dc4aa1570f956e6314f6d0634a772aa8d2905d8ab9c83026a7ac6af",
        "height": 2862309,
        "found": false
    },
    "nonce": 3271624915,
    "extra_nonce": 1072029533,
    "transaction_count": 28,
    "software_id": 0,
    "software_version": 196609,
    "template": {
        "id": "0000000000000000000000000000000000000000000000000000000000000000",
        "difficulty": "00000000000000000000004c054ccf15"
    },
    "uncles": [],
    "weight": 2002581944
}
        </pre>
    </div>



    <hr/>
    <div>
        <h3>Redirect APIs</h3>
        <p>Several endpoints are available that redirect/forward your request via <em>Location</em> HTTP header to the relevant API listed above.</p>
        <p>
            <h4 class="mono">/api/last_found[/raw]?...</h4>
            Redirects to the <em>/api/block_by_id/...</em> record for the last block found on the Monero network by P2Pool.
        </p>
        <p>
        <h4 class="mono">/api/tip[/raw]?...</h4>
        Redirects to the <em>/api/block_by_id/...</em> record for the last share found by P2Pool.
        </p>
    </div>
</div>

{% endblock %}