{% extends "base.html" %}

{% block title %} - Found Monero blocks{% endblock %}

{% block content %}


<div style="text-align: center; font-weight: bold;">
{% if refresh %}
<a href="/blocks">Autorefresh is ON ({{ refresh }} s)</a>
{% else %}
<a href="/blocks?refresh">Autorefresh is OFF</a>
{% endif %}
</div>

<div style="text-align: center">
    <h2>Recent Monero blocks found by P2Pool miners</h2>
    {% set found_blocks = blocks_found %}
    {% include('tpl_found_blocks.html') %}
</div>

{% endblock %}