<div>
    <footer class="center" style="font-size: 80%; text-align: center; margin-bottom: 20px;">
        <a href="{{ get_url("git.gammaspectra.live") }}/P2Pool/p2pool-observer">source code</a>
        &mdash;
        <a href="https://{{ getenv('NET_SERVICE_ADDRESS') }}">{{ getenv('NET_SERVICE_ADDRESS') }}</a>
        ::
        Tor <a href="http://{{ getenv('TOR_SERVICE_ADDRESS') }}">{{ getenv('TOR_SERVICE_ADDRESS') }}</a>
        <br/>
        Donate to P2Pool.Observer developer on <a class="mono smaller" href="monero:{{ donation_address }}?tx_description=P2Pool.Observer">{{ donation_address }}</a> or OpenAlias <span class="mono">p2pool.observer</span> :: <a href="https://github.com/SChernykh/p2pool#donations">Donate to P2Pool Development</a>
        <br/>
        <strong>NOTE:</strong> This site is in development. You might find errors, incomplete or invalid data. :: <a target="_blank" href="{{ get_url("git.gammaspectra.live") }}/P2Pool/p2pool-observer/issues?state=open">Report issue on tracker</a>, via IRC on <a target="_blank" href="ircs://irc.libera.chat:6697/#p2pool-observer">#p2pool-observer@libera.chat</a>, or via <a rel="nofollow" href="https://matrix.to/#/#p2pool-observer:libera.chat">Matrix</a>
    </footer>
</div>
