{% extends "base.html" %}

{% block content %}


<div style="text-align: center; font-weight: bold;">
{% if refresh %}
<a href="/">Autorefresh is ON ({{ refresh }} s)</a>
{% else %}
<a href="/?refresh">Autorefresh is OFF</a>
{% endif %}
</div>

<div style="text-align: center">
    <h2>P2Pool statistics</h2>
    <table class="center" style="max-width: calc(15em + 15em + 15em + 15em)">
        <tr>
            <th style="width: 15em">P2Pool Height</th>
            <th style="width: 15em">P2Pool Hashrate</th>
            <th style="width: 15em">Monero Height</th>
            <th style="width: 15em">Monero Hashrate</th>
        </tr>
        <tr>
            <td title="{{ pool.sidechain.id }}"><a href="/share/{{ pool.sidechain.id }}">{{ pool.sidechain.height }}</a></td>
            <td>{{ diff_hashrate(pool.sidechain.difficulty, pool.sidechain.block_time)|si_units(2) }}H/s</td>
            <td title="{{ pool.mainchain.id }}"><a href="/b/{{ pool.mainchain.height|benc }}">{{ pool.mainchain.height }}</a></td>
            <td>{{ diff_hashrate(pool.mainchain.difficulty, pool.mainchain.block_time)|si_units(2) }}H/s</td>
        </tr>
        <tr><th colspan="4">&nbsp;</th></tr>
        <tr>
            <th>P2Pool Difficulty</th>
            <th title="Percentage of Monero hashrate P2Pool has">P2Pool Monero %</th>
            <th>Monero Difficulty</th>
            <th title="This includes blocks the site knows about since it started observing. There might be more orphaned or produced by other sidechain not included here.">Blocks Found</th>
        </tr>
        <tr>
            <td>{{ diff_uint(pool.sidechain.difficulty)|si_units(2) }}</td>
            <td>{{ ((diff_hashrate(pool.sidechain.difficulty, pool.sidechain.block_time) / diff_hashrate(pool.mainchain.difficulty, pool.mainchain.block_time))*100)|round(2) }}%</td>
            <td>{{ diff_uint(pool.mainchain.difficulty)|si_units(2) }}</td>
            <td>{{ pool.sidechain.found }}</td>
        </tr>
        <tr><th colspan="4">&nbsp;</th></tr>
        <tr>
            <th title="Miners that have ever mined a share on P2Pool">Miners Known</th>
            <th>Average Effort</th>
            <th title="Mean frequency between P2Pool finds Monero Blocks">Block Found Frequency</th>
            <th>Last Found Block</th>
        </tr>
        <tr>
            <td>{{ pool.sidechain.miners }}</td>
            <td >
                <span class="small" style="color: {{ pool.sidechain.effort.average10|effort_color }};" title="Last 10 found blocks">{{ pool.sidechain.effort.average10|round(2) }}%</span>
                /
                <span style="font-weight:bolder; color: {{ pool.sidechain.effort.average|effort_color }};" title="Last 50 found blocks">{{ pool.sidechain.effort.average|round(2) }}%</span>
                /
                <span class="small" style="color: {{ pool.sidechain.effort.average200|effort_color }};" title="Last 200 found blocks">{{ pool.sidechain.effort.average200|round(2) }}%</span>
            </td>
            <td>{{ time_duration_long(diff_uint(pool.mainchain.difficulty) / diff_hashrate(pool.sidechain.difficulty, pool.sidechain.block_time)) }}</td>
            <td title="{{ utc_date(blocks_found[0].MainBlock.Timestamp) }}">{{ time_elapsed_short(blocks_found[0].MainBlock.Timestamp) }}</td>
        </tr>
        <tr><th colspan="4">&nbsp;</th></tr>
        <tr>
            <th title="Current miners on P2Pool PPLNS window"><a href="/miners">Window Miners</a></th>
            <th>Current Effort</th>
            <th>Window Blocks</th>
            <th>Last Share</th>
        </tr>
        <tr>
            <td><a href="/miners">{{ pool.sidechain.window.miners }}</a></td>
            <td style="font-weight:bolder; color: {{ pool.sidechain.effort.current|effort_color }};">
                {{ pool.sidechain.effort.current|round(2) }}%
            </td>
            <td>{{ pool.sidechain.window.blocks }} blocks (+{{ pool.sidechain.window.uncles }} uncles)</td>
            <td title="{{ utc_date(pool.sidechain.timestamp) }}">{{ time_elapsed_short(pool.sidechain.timestamp) }}</td>
        </tr>
    </table>
</div>

<div style="text-align: center">
    <form action="/miner" method="get">
        <h2>Lookup miner statistics</h2>
        <div>
            <label for="miner-address">Payout Monero address or Miner Alias</label><br/>
            <input type="text" name="address" id="miner-address" placeholder="{{ donation_address }}" size="96" class="mono"/>
        </div>
        <div style="margin-top: 10px">
            <input type="submit" value="Lookup" style="width: 20em;"/>
        </div>
    </form>
    <p>
        <a href="/calculate-share-time">[Average share time calculator]</a> :: <a href="/connectivity-check">[Connectivity Check]</a>
    </p>
    <p>
        <a href="/miners">[Current Window Miners]</a> :: <a href="/miners?weekly">[Weekly Miners]</a>
    </p>
    <p>
        <a href="/transaction-lookup">[Sweep Transaction Lookup]</a> :: <a href="/sweeps">[Recent Likely Sweep Transactions]</a>
    </p>
</div>

<hr/>

<div style="text-align: center">
    <h2>Recent Monero blocks found by P2Pool miners</h2>

    {% set found_blocks = blocks_found %}
    {% include('tpl_found_blocks.html') %}
    <div class="center"><a href="/blocks">[show more found blocks]</a></div>

    <h3>Blocks found during last day</h3>
    <code class="mono">{{ blocks_found_position }}</code>
</div>

<hr/>

<div style="text-align: center">
    <h2>Recent P2Pool shares found</h2>
    {% set shares = shares %}
    {% include('tpl_shares.html') %}
</div>


{% endblock %}