{% extends "base.html" %}

{% block title %} - Miner {{ miner.Address.ToBase58() }} {% endblock %}

{% block content %}

<div style="text-align: center; font-weight: bold;">
    {% if refresh %}
    <a href="/miner/{{ miner.Address.ToBase58() }}">Autorefresh is ON ({{ refresh }} s)</a>
    {% else %}
    <a href="/miner/{{ miner.Address.ToBase58() }}?refresh">Autorefresh is OFF</a>
    {% endif %}
</div>



<div style="text-align: center">
    {% if miner.LastShareTimestamp == 0 %}
    <div style="border: #d1d1d1 1px dashed;">
        <h3 style="color:#FF4433">No shares have been reported to this P2Pool network in the past for this miner.</h3>

        <p>Finding shares is a random process based on your hashrate vs this P2Pool hashrate. This can take several days for low hashrate miners, and depending on your luck.</p>
        <p>Please use the calculator below to find your average share time (with average luck).</p>
        <p>You can also verify you are reachable by opening ports with the tool below.</p>
        <br/>

        <form action="/calculate-share-time" method="get">
            <h3>Average Share Time Calculator</h3>
            <label for="hashrate">Your Hashrate</label><br/>
            <input type="numeric" name="hashrate" id="hashrate" placeholder="100" size="8" class="mono" value=""/>
            <select name="magnitude">
                <option value="1" selected>H/s</option>
                <option value="1000">KH/s</option>
                <option value="1000000">MH/s</option>
                <option value="1000000000">GH/s</option>
            </select>
            <br/>
            <input type="submit" value="Calculate" style="width: 20em; margin: 20px;"/>
        </form>


        <form action="/connectivity-check" method="get">
            <h3>Connectivity Check</h3>
            <div>
                <label for="address">IP Address and Port</label><br/>
                <input type="text" name="address" id="address" placeholder="5.9.17.234:{{ consensus.DefaultPort() }}" size="20" class="mono" value="{% if (not is_nil(address)) and address.IsValid() %}{{ address.String() }}{% endif %}"/>
            </div>
            <br/>
            <div style="margin-top: 10px">
                <input type="submit" value="Check" style="width: 20em;"/>
            </div>
        </form>
    </div>

    <hr/>
    {% endif %}

    {% if (last_raw_share is defined) and (last_raw_share.ShareVersion()|str != "v2") and (last_raw_share.ShareVersionSignaling()|str != "v2") %}
    <div style="border: #d1d1d1 1px dashed;">
        <h3 style="color:#FF4433" title="Share version {{ last_raw_share.ShareVersion() }}, signaling {{ last_raw_share.ShareVersionSignaling() }}">Recent shares indicate you are running an outdated version of P2Pool</h3>

        <p>A new version of <a href="https://github.com/SChernykh/p2pool/releases/tag/v3.2">P2Pool (v3.0+)</a> has been released with several improvements, which requires a consensus change.</p>
        <p>P2Pool (not Monero!) has hardforked to new consensus rules on <strong>March 18th, 2023 at 21:00 UTC</strong>. All versions before P2Pool v3.0 are incompatible. P2Pool v3.2 is recommended.</p>
        <p>If you keep using previous versions, you will keep mining as usual, but become almost a solo miner, as incompatible clients will mine on their own.</p>
        <p>{% if getenv('NET_SERVICE_ADDRESS') == "p2pool.observer" %}After the fork, you can check on <a href="{{ get_url("old.p2pool.observer") }}/miner/{{ miner.Address.ToBase58() }}">OLD.P2Pool.Observer</a>.{% elseif getenv('NET_SERVICE_ADDRESS') == "mini.p2pool.observer" %}After the fork, you can check on <a href="https://{{ get_url("old-mini.p2pool.observer") }}/miner/{{ miner.Address.ToBase58() }}">OLD-MINI.P2Pool.Observer</a>.{% else %}Please check on an observer tracking the old chain.{% endif %}</p>
        <p>After upgrading to a supported P2Pool version and mining a share, this message will be dismissed.</p>
        <br/>
    </div>

    <hr/>
    {% elseif (last_raw_share is defined) and (last_raw_share.ShareVersion()|str != "v1") and (last_raw_share.Side.ExtraBuffer.SoftwareId == "P2Pool") and (last_raw_share.Side.ExtraBuffer.SoftwareVersion != pool.Versions.P2Pool.Version) %}
    <div style="border: #d1d1d1 1px dashed;">
        <h3 style="color:#FF4433">Recent shares indicate you are running an older version of P2Pool</h3>

        <p><a href="https://github.com/SChernykh/p2pool/releases/tag/{{ pool.Versions.P2Pool.Version }}">P2Pool {{ pool.Versions.P2Pool.Version }}</a> has been released.</p>
        <p>Your most recent share indicates are currently running {{ software_info(last_raw_share.Side.ExtraBuffer.SoftwareId, last_raw_share.Side.ExtraBuffer.SoftwareVersion) }}. It is recommended to upgrade.</p>
        <p>After upgrading to this P2Pool version and mining a share, this message will be dismissed.</p>
        <br/>
    </div>

    <hr/>
    {% endif %}

    <p><strong>Payout Address:</strong> <span class="mono small">{{ miner.Address.ToBase58() }}</span></p>

    {% if miner.Alias != "" %}
    <p><strong>Miner Alias:</strong> <span class="mono">{{ miner.Alias }}</span></p>
    <p><small>Miner Alias is user content and not verified. This value should only be used for vanity purposes.</small></p>
    {% endif %}

    <table class="center" style="max-width: calc(15em + 15em + 15em + 15em)">
        <tr>
            <th>Last Share</th>
            <th>Current Shares</th>
            <th>Estimated Hashrate</th>
            <th>Pool Share %</th>
        </tr>
        <tr>
            <td title="{{ utc_date(miner.LastShareTimestamp) }}">{{ time_elapsed_short(miner.LastShareTimestamp) }}</td>
            <td>{{ window_count_blocks }} blocks (+{{ window_count_uncles }} uncles)</td>
            <td>{{ ((window_weight / pool.SideChain.Window.Weight|diff_int) * diff_hashrate(pool.SideChain.Difficulty, pool.SideChain.BlockTime))|si_units(3) }}H/s</td>
            <td>{{ (((window_weight / pool.SideChain.Window.Weight|diff_int))*100)|round(3) }}%</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Total Shares</th>
            <th>Day Shares</th>
            <th>Day Hashrate</th>
            <th>Day Share %</th>
        </tr>
        <tr>
            <td>{% if (last_raw_share is defined) %}{{ miner.Shares[1].ShareCount }} blocks (+{{ miner.Shares[1].UncleCount }} uncles{% if miner.Shares[0].ShareCount > 0 %}, +{{ miner.Shares[0].ShareCount }} orphans{% endif %}){% else %}No shares reported{% endif %}</td>
            <td>{{ count_blocks }} blocks (+{{ count_uncles }} uncles)</td>
            <td>{{ ((weight / ((pool.SideChain.Window.Weight|diff_int * 4) * (pool.SideChain.MaxWindowSize / pool.SideChain.WindowSize))) * diff_hashrate(pool.SideChain.Difficulty, pool.SideChain.BlockTime))|si_units(3) }}H/s</td>
            <td>{{ (((weight / ((pool.SideChain.Window.Weight|diff_int * 4) * (pool.SideChain.MaxWindowSize / pool.SideChain.WindowSize))))*100)|round(3) }}%</td>
        </tr>
    </table>
</div>


<hr/>

<div style="text-align: center;">
    <h2>Share positions</h2>
    <p class="small">
        Shares appear on the right, and get older towards the left. The pipe (<code>|</code>) character denotes the current PPLNS window end.
        <br/>
        Number denotes the amount of shares per slice, with the plus (<code>+</code>) character being more than 9, and dot (<code>.</code>) being none.
        <br/>
        Each slice accounts for {{ position_resolution }} P2Pool blocks, or around {{ (position_resolution * pool.SideChain.BlockTime) / 60 }} minutes.
    </p>
    <h3>Shares during last day</h3>
    <code class="mono">{{ position_blocks }}</code>

    <h3>Uncles during last day</h3>
    <code class="mono">{{ position_uncles }}</code>

    {% if count_payouts > 0 %}
    <h3>Payouts during last day</h3>
    <code class="mono">{{ position_payouts }}</code>
    {% endif %}

</div>

<br/>
<br/>

<hr/>

<div style="text-align: center">
    <h2>Most recent payouts</h2>
    {% set payouts = last_payouts %}
    {% include('tpl_payouts.html') %}
    <div class="center"><a href="/payouts/{{ miner.Address.ToBase58() }}">[show all historical payouts]</a></div>
</div>

<hr/>

<div style="text-align: center">
    <h2>Most recent shares</h2>
    {% set shares = last_shares %}
    {% set shares_efforts = last_shares_efforts %}
    {% set shares_is_miner = true %}
    {% include('tpl_shares.html') %}
</div>

<hr/>

{% if last_orphaned_shares|length > 0 %}
<div style="text-align: center">
    <h2>Most recent orphaned shares</h2>
    {% set shares = last_orphaned_shares %}
    {% set shares_efforts = false %}
    {% set shares_is_miner = true %}
    {% include('tpl_shares.html') %}
</div>

<hr/>
{% endif %}

<div style="text-align: center">
    <h2>Most recent Monero blocks found</h2>
    {% set found_blocks = last_found %}
    {% set found_blocks_is_miner = true %}
    {% include('tpl_found_blocks.html') %}
    <div class="center"><a href="/blocks?miner={{ miner.Address.ToBase58() }}">[show more found blocks]</a></div>
</div>

<hr/>

<div style="text-align: center">
    <h2>Most recent likely sweeps</h2>
    {% set sweeps = last_sweeps %}
    {% set sweeps_is_miner = true %}
    {% include('tpl_sweeps.html') %}
    <div class="center"><a href="/sweeps?miner={{ miner.Address.ToBase58() }}">[show more likely sweeps]</a></div>
</div>



{% if miner.LastShareTimestamp != 0 %}
<hr/>

<div style="text-align: center">
    <form action="/miner/{{ miner.Address.ToBase58() }}" method="get">
        <h3>Effort Calculation</h3>
        <p>Local hashrate of each P2Pool miner is not known by the network. A guess is calculated based on daily estimation. If you provide a value here, it will be more accurate for effort calculation.</p>
        <p>This data will not be saved.</p>
        <label for="hashrate_local">Your Local Hashrate</label><br/>
        <input type="numeric" name="hashrate" id="hashrate_local" placeholder="100" size="8" class="mono" value="{% if hashrate_local > 0 %}{{ hashrate_local }}{% endif %}"/>
        <select name="magnitude">
            <option value="1"{% if magnitude_local == 1 %} selected{% endif %}>H/s</option>
            <option value="1000"{% if magnitude_local == 1000 %} selected{% endif %}>KH/s</option>
            <option value="1000000"{% if magnitude_local == 1000000 %} selected{% endif %}>MH/s</option>
            <option value="1000000000"{% if magnitude_local == 1000000000 %} selected{% endif %}>GH/s</option>
        </select>
        <br/>
        <input type="submit" value="Calculate" style="width: 20em; margin: 20px;"/>
    </form>
</div>
<hr/>

<div style="text-align: center">
    <form action="/api/miner_alias/{{ miner.Address.ToBase58() }}" method="get" target="_blank">
        <h3>Set Miner Alias</h3>
        <p>To set a miner alias you will need to sign a message using your wallet. On the Monero GUI, go to Advanced -> Sign/verify -> Select Mode "Message"</p>
        <p>Enter the desired Miner Alias in Message, then press Sign Message. Copy the Signature and paste it on the field below, along with your chosen Miner Alias.</p>
        <p><small>Miner Alias must be 4 to 20 characters long, and only 0-9, a-z, A-Z, and _-. are allowed, and cannot start with a number or symbol. No spaces are allowed either. Alias are unique for the observer instance.</small></p>
        <p><small>You can remove your miner alias by using "REMOVE_MINER_ALIAS" as an alias.</small></p>
        <div>
            <label for="miner-alias">Miner Alias</label><br/>
            <input type="text" name="message" id="miner-alias" size="20" class="mono"/>
        </div>
        <div>
            <label for="signature">Signature</label><br/>
            <input type="text" name="signature" id="signature" size="96" class="mono"/>
        </div>
        <div style="margin-top: 10px">
            <input type="submit" value="Set Alias" style="width: 20em;"/>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}