{% extends "base.html" %}

{% block title %} - Payout Proof for output #{{ payout.Index }} on Monero block {{ block.MainHeight }}{% endblock %}

{% block content %}



<div class="center" style="text-align: center">
    <h2>Payout Proof for output #{{ payout.Index }} on Monero block {{ block.MainHeight }}</h2>
    {% set minerAddress = payout.MinerAddress.ToBase58() %}
    {% if payout.MinerAlias != "" %}
    <p><strong>Payout Address:</strong> {{ payout.MinerAlias }} (<span class="mono small"><a href="/miner/{{ minerAddress }}">{{ minerAddress }}</a>)</span></p>
    {% else %}
    <p><strong>Payout Address:</strong> <span class="mono small"><a href="/miner/{{ minerAddress }}">{{ minerAddress }}</a></span></p>
    {% endif %}

    <p>Received <strong>{{ monero_to_xmr(payout.Value) }} XMR</strong> on transaction id <a class="mono small" href="/t/{{ payout.Id|henc }}">{{ payout.Id }}</a> (output index #{{ payout.Index }}, global output index #{{ payout.GlobalOutputIndex }}).</p>
    <p><strong>{{ add_uint(sub_int(pool.mainchain.height, block.MainHeight), 1) }} confirmation(s)</strong>. Coinbase outputs will unlock after 60 confirmations.</p>

    <p><strong>Stealth Address:</strong> <span class="mono small">{{ get_ephemeral_pubkey(minerAddress, raw.Side.CoinbasePrivateKey, payout.Index) }}</span></p>
    <hr/>
    <h3>Payment Proofs</h3>
    <div style="border: #aaaaaa 1px dashed; margin-bottom: 20px">
        <p><strong>Transaction Private Key:</strong> <span class="mono small">{{ raw.Side.CoinbasePrivateKey|hex }}</span></p>
        <p>Verify on Monero CLI: <span class="mono smaller">check_tx_proof {{ payout.Id }} {{ minerAddress }} {{ raw.Side.CoinbasePrivateKey|hex }}</span></p>
        <p>
            <a href="{{ get_url("localmonero.co") }}/blocks/tx/{{ payout.Id }}?xmraddress={{ minerAddress }}&txprvkey={{ raw.Side.CoinbasePrivateKey|hex }}">Verify on LocalMonero</a><br/>
            <a href="{{ get_url("www.exploremonero.com") }}/receipt/{{ payout.Id }}/{{ minerAddress }}/{{ raw.Side.CoinbasePrivateKey|hex }}">Verify on Explore Monero</a><br/>
            <a href="{{ get_url("monero.com") }}/payment/{{ payout.Id }}/{{ minerAddress }}/{{ raw.Side.CoinbasePrivateKey|hex }}/">Verify on Monero.com</a><br/>
        </p>
    </div>


    <div style="border: #aaaaaa 1px dashed">
        <p><strong>OutProofV2:</strong> <span class="mono smaller">{{ get_tx_proof_v2(minerAddress, payout.Id, raw.Side.CoinbasePrivateKey) }}</span></p>
        <p><strong>OutProofV1:</strong> <span class="mono smaller">{{ get_tx_proof_v1(minerAddress, payout.Id, raw.Side.CoinbasePrivateKey) }}</span></p>
        <p>Verify on Monero GUI <span class="small">(Advanced -> Prove/check -> Check Transaction)</span></p>
    </div>
</div>

{% endblock %}