{% extends "base.html" %}

{% block title %} - Payout Proof for output #{{ payout.index }} on Monero block {{ block.main.height }}{% endblock %}

{% block content %}



<div class="center" style="text-align: center">
    <h2>Payout Proof for output #{{ payout.index }} on Monero block {{ block.main.height }}</h2>
    {% if payout.alias != "" %}
    <p><strong>Payout Address:</strong> {{ payout.alias }} (<span class="mono small"><a href="/miner/{{ payout.address }}">{{ payout.address }}</a>)</span></p>
    {% else %}
    <p><strong>Payout Address:</strong> <span class="mono small"><a href="/miner/{{ payout.address }}">{{ payout.address }}</a></span></p>
    {% endif %}

    <p>Received <strong>{{ monero_to_xmr(payout.amount) }} XMR</strong> on transaction id <a class="mono small" href="/t/{{ block.coinbase.id|henc }}">{{ block.coinbase.id }}</a> (output index #{{ payout.index }}).</p>
    <p><strong>{{ add_uint(sub_int(pool.mainchain.height, block.main.height), 1) }} confirmation(s)</strong>. Coinbase outputs will unlock after 60 confirmations.</p>

    <p><strong>Stealth Address:</strong> <span class="mono small">{{ get_ephemeral_pubkey(payout.address, block.coinbase.private_key, payout.index) }}</span></p>
    <hr/>
    <h3>Payment Proofs</h3>
    <div style="border: #aaaaaa 1px dashed; margin-bottom: 20px">
        <p><strong>Transaction Private Key:</strong> <span class="mono small">{{ block.coinbase.private_key }}</span></p>
        <p>Verify on Monero CLI: <span class="mono smaller">check_tx_proof {{ block.coinbase.id }} {{ payout.address }} {{ block.coinbase.private_key }}</span></p>
        <p>
            <a href="https://localmonero.co/blocks/tx/{{ block.coinbase.id }}?xmraddress={{ payout.address }}&txprvkey={{ block.coinbase.private_key }}">Verify on LocalMonero</a><br/>
            <a href="https://www.exploremonero.com/receipt/{{ block.coinbase.id }}/{{ payout.address }}/{{ block.coinbase.private_key }}">Verify on Explore Monero</a><br/>
            <a href="https://monero.com/payment/{{ block.coinbase.id }}/{{ payout.address }}/{{ block.coinbase.private_key }}/">Verify on Monero.com</a><br/>
        </p>
    </div>


    <div style="border: #aaaaaa 1px dashed">
        <p><strong>OutProofV2:</strong> <span class="mono smaller">{{ get_tx_proof(payout.address, block.coinbase.id, block.coinbase.private_key) }}</span></p>
        <p><strong>OutProofV1:</strong> <span class="mono smaller">{{ get_tx_proof_v1(payout.address, block.coinbase.id, block.coinbase.private_key) }}</span></p>
        <p>Verify on Monero GUI <span class="small">(Advanced -> Prove/check -> Check Transaction)</span></p>
    </div>
</div>

{% endblock %}