{% extends "base.html" %}

{% block title %} - Payout Proof for output #{{ payout.index }} on Monero block {{ block.MainHeight }}{% endblock %}

{% block content %}



<div class="center" style="text-align: center">
    <h2>Payout Proof for output #{{ payout.index }} on Monero block {{ block.MainHeight }}</h2>
    {% if payout.miner_alias != "" %}
    <p><strong>Payout Address:</strong> {{ payout.miner_alias }} (<span class="mono small"><a href="/miner/{{ payout.miner_address }}">{{ payout.miner_address }}</a>)</span></p>
    {% else %}
    <p><strong>Payout Address:</strong> <span class="mono small"><a href="/miner/{{ payout.miner_address }}">{{ payout.miner_address }}</a></span></p>
    {% endif %}

    <p>Received <strong>{{ monero_to_xmr(payout.value) }} XMR</strong> on transaction id <a class="mono small" href="/t/{{ payout.id|henc }}">{{ payout.id }}</a> (output index #{{ payout.index }}, global output index #{{ payout.global_output_index }}).</p>
    <p><strong>{{ add_uint(sub_int(pool.mainchain.height, block.MainHeight), 1) }} confirmation(s)</strong>. Coinbase outputs will unlock after 60 confirmations.</p>

    <p><strong>Stealth Address:</strong> <span class="mono small">{{ get_ephemeral_pubkey(payout.miner_address, raw.Side.CoinbasePrivateKey|hex, payout.index) }}</span></p>
    <hr/>
    <h3>Payment Proofs</h3>
    <div style="border: #aaaaaa 1px dashed; margin-bottom: 20px">
        <p><strong>Transaction Private Key:</strong> <span class="mono small">{{ raw.Side.CoinbasePrivateKey }}</span></p>
        <p>Verify on Monero CLI: <span class="mono smaller">check_tx_proof {{ payout.id }} {{ payout.miner_address }} {{ raw.Side.CoinbasePrivateKey }}</span></p>
        <p>
            <a href="{{ get_url("localmonero.co") }}/blocks/tx/{{ payout.id }}?xmraddress={{ payout.miner_address }}&txprvkey={{ raw.Side.CoinbasePrivateKey }}">Verify on LocalMonero</a><br/>
            <a href="{{ get_url("www.exploremonero.com") }}/receipt/{{ payout.id }}/{{ payout.miner_address }}/{{ raw.Side.CoinbasePrivateKey }}">Verify on Explore Monero</a><br/>
            <a href="{{ get_url("monero.com") }}/payment/{{ payout.id }}/{{ payout.miner_address }}/{{ raw.Side.CoinbasePrivateKey }}/">Verify on Monero.com</a><br/>
        </p>
    </div>


    <div style="border: #aaaaaa 1px dashed">
        <p><strong>OutProofV2:</strong> <span class="mono smaller">{{ get_tx_proof(payout.miner_address, payout.id, raw.Side.CoinbasePrivateKey|hex) }}</span></p>
        <p><strong>OutProofV1:</strong> <span class="mono smaller">{{ get_tx_proof_v1(payout.miner_address, payout.id, raw.Side.CoinbasePrivateKey|hex) }}</span></p>
        <p>Verify on Monero GUI <span class="small">(Advanced -> Prove/check -> Check Transaction)</span></p>
    </div>
</div>

{% endblock %}