{% extends "base.html" %}

{% block title %} - Height {{ block.height }} {% endblock %}

{% block content %}



<div class="center" style="text-align: center">

    {% if block.MinedMainAtHeight %}
    <h1 style="color:#00C000">This share mined Monero block at height {{ block.MainHeight }}</h1>
    {% elseif (block.MainDifficulty > 0) and (block.PowDifficulty >= block.MainDifficulty) and (not block.MinedMainAtHeight) %}
    <h1 style="color:#E0E000">This share mined Monero block at height {{ block.MainHeight }}, but was orphaned</h1>
    {% endif %}
    {% if block.IsOrphan() %}
    <h1 style="color:#E0E000">This share has been orphaned</h1>
    {% endif %}
    <br/>

    <table class="center" style="max-width: calc(8em + 28em + 8em + 28em)">
        <tr>
            {% if block.SideHeight == 0 %}
            <td colspan="2">Genesis Block</td>
            {% elseif block.IsUncle() %}
            <td colspan="2"><a href="/share/{{ block.UncleOf }}">&lt;&lt; Parent share</a></td>
            {% else %}
            <td colspan="2"><a href="/share/{{ block.ParentTemplateId }}">&lt;&lt; Previous share</a></td>
            {% endif %}
            {% if block.IsOrphan() %}
            <td colspan="2">Orphans do not have next blocks</td>
            {% elseif block.IsUncle() %}
            <td colspan="2">Uncles do not have next blocks</td>
            {% else %}
            <td colspan="2"><a href="/share/{{ add_uint(block.SideHeight, 1) }}">Next share &gt;&gt;</a></td>
            {% endif %}
        </tr>
        <tr><td colspan="4"><h2>Share information</h2></td></tr>
        <tr>
            <th style="width: 8em">P2Pool Height</th>
            <th style="width: 28em">P2Pool Template Id</th>
            <th style="width: 8em">Monero Height</th>
            <th style="width: 28em">Monero Id</th>
        </tr>
        <tr>
            <td>{{ block.SideHeight }}</td>
            <td class="mono smaller">{{ block.TemplateId }}</td>

            {% if block.MinedMainAtHeight %}
            <td><a href="/b/{{ block.MainHeight|benc }}">{{ block.MainHeight }}</a></td>
            <td class="mono smaller"><a href="/b/{{ block.MainHeight|benc }}">{{ block.MainId }}</a></td>
            {% else %}
            <td>{{ block.MainHeight }}</td>
            <td class="mono smaller">{{ block.MainId }}</td>
            {% endif %}
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Age <small>[h:m:s]</small></th>
            <th>PoW Hash</th>
            <th>Found by</th>
            <th>Difficulty</th>
        </tr>
        <tr>
            <td title="{{ utc_date(block.timestamp) }}">{{ date_diff_short(block.Timestamp) }}</td>
            <td class="mono smaller">{{ block.PowHash }}</td>
            {% set minerAddress = block.MinerAddress.ToBase58() %}
            {% if block.MinerAlias != "" %}
            <td title="{{ minerAddress }} ({{ block.MinerAlias }})" class="mono small"><a href="/miner/{{ minerAddress }}">{{ block.MinerAlias|shorten(10) }}</a></td>
            {% else %}
            <td title="{{ minerAddress }}" class="mono small"><a href="/miner/{{ minerAddress }}">{{ minerAddress|shorten(10) }}</a></td>
            {% endif %}
            <td><span class="mono">{{ block.Difficulty }}</span> / <span class="mono" title="Proof of Work Difficulty">{{ block.PowDifficulty }}</span></td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Valuation</th>
            <th>Coinbase Id</th>
            <th>Coinbase Reward</th>
            <th>Coinbase Private Key</th>
        </tr>
        {% if raw is defined %}
        <tr>
            <td>{{ side_block_valuation(block) }}</td>
            {% if block.MinedMainAtHeight %}
            <td class="mono smaller"><a href="/t/{{ raw.Main.Coinbase.Id()|henc }}">{{ raw.Main.Coinbase.Id() }}</a></td>
            {% else %}
            <td class="mono smaller">{{ raw.Main.Coinbase.Id() }}</td>
            {% endif %}
            <td class="small">{{ monero_to_xmr(raw.Main.Coinbase.TotalReward) }} XMR</td>
            <td class="mono smaller">{{ raw.Side.CoinbasePrivateKey|hex }}</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Nonce</th>
            <th>Cumulative Difficulty</th>
            <th>Extra Nonce</th>
            <th>Monero Target Difficulty</th>
        </tr>
        <tr>
            <td class="mono" title="{{ block.Nonce|hex }}">{{ block.Nonce }}</td>
            <td class="mono smaller">{{ raw.Side.CumulativeDifficulty }}</td>
            <td class="mono" title="{{ block.ExtraNonce|hex }}">{{ block.ExtraNonce }}</td>
            <td class="mono">{% if block.MainDifficulty != 0 %}{{ block.MainDifficulty }}{% endif %}</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Software</th>
            <th>Version Signaling</th>
            <th>{% if raw.ShareVersion()|str != "v1" %}Template Extra Buffer{% endif %}</th>
            <th title="The seed is used for the deterministic generation of the Coinbase Private Key, and is derived from other fields in the share or historic data.">Deterministic Private Key Seed</th>
        </tr>
        <tr>
            <td>{{ software_info(raw.Side.ExtraBuffer.SoftwareId, raw.Side.ExtraBuffer.SoftwareVersion) }}</td>
            <td>{{ raw.ShareVersion() }} <span class="small">({% if raw.ShareVersionSignaling()|str != "none" %}signaling {{ raw.ShareVersionSignaling() }} support{% else %}no known signaling{% endif %})</span></td>
            <td class="small">{% if raw.ShareVersion()|str != "v1" %}<span class="mono" title="Random Number">{{ raw.Side.ExtraBuffer.RandomNumber|hex }}</span> / <span class="mono" title="SideChain Extra Nonce">{{ raw.Side.ExtraBuffer.SideChainExtraNonce|hex }}{% endif %}</span></td>
            <td>{% if not is_zero_hash(raw.GetPrivateKeySeed()) %}<span class="mono smaller">{{ raw.GetPrivateKeySeed() }}</span>{% else %}Not Deterministic{% endif %}</td>
        </tr>

    </table>
</div>
<div class="center" style="text-align: center">
    {% if raw.Side.Uncles|length > 0 %}
    <h2>Uncle shares</h2>
    {% if block.IsUncle() %}
    <p><strong>NOTE:</strong> Uncle shares do not have their listed uncles accounted for weight, the following list is just for reference.</p>
    {% endif %}
    <ul class="mono">
        {% for u in raw.Side.Uncles %}
        <li><a href="/share/{{ u }}">{{ u }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Payouts share was weighted into</h2>

    {% include('tpl_payouts.html') %}
    {% if block.EffectiveHeight > (pool.sidechain.height - pool.sidechain.window_size) %}
    <div class="center"><h3>Share is inside the PPLNS window. Any Monero blocks found during this period by any P2Pool miner will provide a direct payout.</h3></div>
    {% else %}
    <div class="center">Share is outside the PPLNS window. No more payouts for this share will be provided by other P2Pool miners.</div>
    {% endif %}

    <h2>Coinbase Transaction</h2>

    {% if block.MinedMainAtHeight %}
    <table class="center" style="max-width: calc(8em + 28em + 12em + 10em + 10em + 8em)">
        <tr><td colspan="6" class="mono smaller">{{ coinbase_extra(raw)|hex }}</td></tr>
        <tr><td colspan="6">&nbsp;</td></tr>
    {% else %}
    <table class="center" style="max-width: calc(8em + 28em + 10em)">
        <tr><td colspan="3" class="mono smaller">{{ coinbase_extra(raw)|hex }}</td></tr>
        <tr><td colspan="3">&nbsp;</td></tr>
    {% endif %}
        <tr>
            <th style="width: 8em">Output Index</th>
            <th style="width: 28em">Ephemeral Public Key</th>
            {% if block.MinedMainAtHeight %}
            <th style="width: 12em">Payout Address</th>
            {% endif %}
            <th style="width: 10em">Reward</th>
            {% if block.MinedMainAtHeight %}
            <th style="width: 10em">Global Output Index</th>
            <th style="width: 8em">Proof</th>
            {% endif %}
        </tr>
        {% for t in raw.Main.Coinbase.Outputs %}
        <tr>
            <td>{{ t.Index }}</td>
            <td class="mono smaller">{{ t.EphemeralPublicKey|hex }}</td>
            {% if block.MinedMainAtHeight and attribute(coinbase, t.Index) is defined %}
            {% set payout = attribute(coinbase, t.Index) %}
            {% if payout.miner_alias != "" %}
            <td title="{{ payout.miner_address }} ({{ payout.miner_alias }})" class="mono small"><a href="/miner/{{ payout.miner_address }}">{{ payout.miner_alias|shorten(10) }}</a></td>
            {% else %}
            <td title="{{ payout.miner_address }}" class="mono small"><a href="/miner/{{ payout.miner_address }}">{{ payout.miner_address|shorten(10) }}</a></td>
            {% endif %}
            {% endif %}
            <td class="small">{{ monero_to_xmr(t.Reward) }} XMR</td>
            {% if block.MinedMainAtHeight %}
            <td class="small">{{ payout.global_output_index }}</td>
            <td class="small"><a href="/proof/{{ block.MainId }}/{{ t.Index }}" title="Prove you have a matching output for this address on this transaction">[[prove]]</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% if raw.Main.Transactions|length > 0 %}
    <h2>Included Transactions</h2>
    <ul class="mono">
        {% for t in raw.Main.Transactions %}
        <li><a href="/t/{{ t|henc }}">{{ t }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% else %}
</table>
</div>

{% endif %}

{% endblock %}