{% extends "base.html" %}

{% block title %} - Height {{ block.height }} {% endblock %}

{% block content %}



<div class="center" style="text-align: center">

    {% if (block.main.found is defined) and block.main.found %}
    <h1 style="color:#00C000">This share mined Monero block at height {{ block.main.height }}</h1>
    {% endif %}
    {% if (block.invalid is defined) and block.invalid %}
    <h1 style="color:#FF4433">This share is invalid</h1>
    {% elseif (block.orphan is defined) and block.orphan %}
    <h1 style="color:#E0E000">This share has been orphaned</h1>
    {% elseif (block.main.orphan is defined) and block.main.orphan %}
    <h1 style="color:#E0E000">This share mined Monero block at height {{ block.main.height }}, but was orphaned</h1>
    {% endif %}
    <br/>

    <table class="center" style="max-width: calc(8em + 28em + 8em + 28em)">
        <tr>
            {% if (block.orphan is defined) and block.orphan %}
            <td colspan="2"><a href="/share/{{ block.previous_id }}">&lt;&lt; Previous share</a></td>
            <td colspan="2">Orphans do not have next blocks</td>
            {% elseif block.parent is defined %}
            <td colspan="2"><a href="/share/{{ block.parent.id }}">&lt;&lt; Parent share</a></td>
            <td colspan="2">Uncles do not have next blocks</td>
            {% else %}
            <td colspan="2"><a href="/share/{{ block.previous_id }}">&lt;&lt; Previous share</a></td>
            <td colspan="2"><a href="/share/{{ add_uint(block.height, 1) }}">Next share &gt;&gt;</a></td>
            {% endif %}
        </tr>
        <tr><td colspan="4"><h2>Share information</h2></td></tr>
        <tr>
            <th style="width: 8em">P2Pool Height</th>
            <th style="width: 28em">P2Pool Id</th>
            <th style="width: 8em">Monero Height</th>
            <th style="width: 28em">Monero Id</th>
        </tr>
        <tr>
            <td>{{ block.height }}</td>
            <td class="mono smaller">{{ block.id }}</td>

            {% if block.main.found %}
            <td><a href="/b/{{ block.main.height|benc }}">{{ block.main.height }}</a></td>
            <td class="mono smaller"><a href="/b/{{ block.main.height|benc }}">{{ block.main.id }}</a></td>
            {% else %}
            <td>{{ block.main.height }}</td>
            <td class="mono smaller">{{ block.main.id }}</td>
            {% endif %}
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Age <small>[h:m:s]</small></th>
            <th>PoW Hash</th>
            <th>Found by</th>
            <th>Difficulty</th>
        </tr>
        <tr>
            <td title="{{ utc_date(block.timestamp) }}">{{ date_diff_short(block.timestamp) }}</td>
            <td class="mono smaller">{{ block.pow }}</td>
            {% if block.miner_alias != "" %}
            <td title="{{ block.miner }} ({{ block.miner_alias }})" class="mono small"><a href="/miner/{{ block.miner }}">{{ block.miner_alias|shorten(10) }}</a></td>
            {% else %}
            <td title="{{ block.miner }}" class="mono small"><a href="/miner/{{ block.miner }}">{{ block.miner|shorten(10) }}</a></td>
            {% endif %}
            <td class="mono">{{ block.difficulty }}</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Valuation</th>
            <th>Coinbase Id</th>
            <th>Coinbase Reward</th>
            <th>Coinbase Private Key</th>
        </tr>
        {% if raw is defined %}
        <tr>
            <td>
                {% if (block.orphan is defined) and block.orphan %}
                0%
                {% elseif block.parent is defined %}
                {{ 100 - pool.sidechain.uncle_penalty }}% (uncle)
                {% else %}
                100%
                {% if (block.uncles is defined) and block.uncles|length > 0 %}
                + {{ pool.sidechain.uncle_penalty }}% of {{ block.uncles|length }} uncle(s)
                {% endif %}
                {% endif %}
            </td>
            {% if block.main.found %}
            <td class="mono smaller"><a href="/t/{{ block.coinbase.id|henc }}">{{ block.coinbase.id }}</a></td>
            {% else %}
            <td class="mono smaller">{{ raw.Main.Coinbase.Id() }}</td>
            {% endif %}
            <td class="small">{{ monero_to_xmr(raw.Main.Coinbase.TotalReward) }} XMR</td>
            <td class="mono smaller">{{ raw.Side.CoinbasePrivateKey|hex }}</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Nonce</th>
            <th>Cumulative Difficulty</th>
            <th>Extra Nonce</th>
            <th>Monero Target Difficulty</th>
        </tr>
        <tr>
            <td class="mono">{{ raw.Main.Nonce|hex }}</td>
            <td class="mono smaller">{{ raw.Side.CumulativeDifficulty }}</td>
            <td class="mono">{{ extra_nonce(raw)|hex }}</td>
            <td class="mono smaller">{{ block.template.difficulty }}</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr>
            <th>Software</th>
            <th>Version Signaling</th>
            <th></th>
            <th title="The seed is used for the deterministic generation of the Coinbase Private Key, and is derived from other fields in the share or historic data.">Coinbase Private Key Seed</th>
        </tr>
        <tr>
            <td>{% if raw.ShareVersion()|str != "v1" %}{{ raw.Side.ExtraBuffer.SoftwareId }} {{ raw.Side.ExtraBuffer.SoftwareVersion }}{% else %}Not present{% endif %}</td>
            <td>{{ raw.ShareVersion() }} <span class="small">({% if raw.ShareVersionSignaling()|str != "none" %}signaling {{ raw.ShareVersionSignaling() }} support{% else %}no known signaling{% endif %})</span></td>
            <td></td>
            <td class="mono smaller">{{ raw.GetPrivateKeySeed() }}</td>
        </tr>

    </table>
</div>
<div class="center" style="text-align: center">
    {% if raw.Side.Uncles|length > 0 %}
    <h2>Uncle shares</h2>
    {% if block.parent is defined %}
    <p><strong>NOTE:</strong> Uncle shares do not have their listed uncles accounted for weight, the following list is just for reference.</p>
    {% endif %}
    <ul class="mono">
        {% for u in raw.Side.Uncles %}
        <li><a href="/share/{{ u }}">{{ u }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Payouts share was weighted into</h2>
    <table class="center datatable" style="max-width: calc(8em + 8em + 8em + 10em + 10em + 12em + 12em)">
        <tr>
            <th style="width: 8em;">Monero Height</th>
            <th style="width: 8em;">P2Pool Height</th>
            <th style="width: 8em;">Age <small>[h:m:s]</small></th>
            <th style="width: 10em;">Reward</th>
            <th style="width: 10em;">Global Output Index</th>
            <th style="width: 12em;">Coinbase Transaction</th>
            <th style="width: 12em;" title="You can use this Private Key to verify payouts sent by P2Pool on each block through the Coinbase Transaction">Coinbase Tx Private Key</th>
        </tr>
        {% for p in payouts %}
        <tr>
            <th title="{{ p.main.id }}"><a href="/b/{{ p.main.height|benc }}">{{ p.main.height }}</a></th>
            <th title="{{ p.id }}"><a href="/share/{{ p.id }}">{{ p.height }}</a></th>
            <td title="{{ utc_date(p.timestamp) }}">{{ date_diff_short(p.timestamp) }}</td>
            <td class="small">{{ monero_to_xmr(p.coinbase.reward) }} XMR</td>
            <td class="small">{{ p.coinbase.global_output_index }}</td>
            <td title="{{ p.coinbase.id }}" class="mono small"><a href="/t/{{ p.coinbase.id|henc }}">{{ p.coinbase.id|shorten(10) }}</a></td>
            <td class="mono smaller" title="{{ p.coinbase.private_key }}">{{ p.coinbase.private_key|shorten(10) }} <a href="/proof/{{ p.id }}/{{ p.coinbase.index }}" title="Prove you have a matching output for your address on this transaction">[[prove]]</a></td>
        </tr>
        {% endfor %}

        {% if block.height > (pool.sidechain.height - pool.sidechain.window_size) %}
        <tr>
            <th colspan="7"><h3>Share is inside the PPLNS window. Any Monero blocks found during this period by any P2Pool miner will provide a direct payout.</h3></th>
        </tr>
        {% else %}
        <tr>
            <th colspan="7">Share is outside the PPLNS window. No more payouts for this share will be provided by other P2Pool miners.</th>
        </tr>
        {% endif %}
    </table>

    <h2>Coinbase Transaction</h2>

    {% if block.main.found %}
    <table class="center" style="max-width: calc(8em + 28em + 12em + 10em + 10em + 8em)">
        <tr><td colspan="6" class="mono smaller">{{ coinbase_extra(raw)|hex }}</td></tr>
        <tr><td colspan="6">&nbsp;</td></tr>
    {% else %}
    <table class="center" style="max-width: calc(8em + 28em + 10em)">
        <tr><td colspan="3" class="mono smaller">{{ coinbase_extra(raw)|hex }}</td></tr>
        <tr><td colspan="3">&nbsp;</td></tr>
    {% endif %}
        <tr>
            <th style="width: 8em">Output Index</th>
            <th style="width: 28em">Ephemeral Public Key</th>
            {% if block.main.found %}
            <th style="width: 12em">Payout Address</th>
            {% endif %}
            <th style="width: 10em">Reward</th>
            {% if block.main.found %}
            <th style="width: 10em">Global Output Index</th>
            <th style="width: 8em">Proof</th>
            {% endif %}
        </tr>
        {% for t in raw.Main.Coinbase.Outputs %}
        <tr>
            <td>{{ t.Index }}</td>
            <td class="mono smaller">{{ t.EphemeralPublicKey|hex }}</td>
            {% if block.main.found and attribute(block.coinbase.payouts, t.Index) is defined %}
            {% set payout = attribute(block.coinbase.payouts, t.Index) %}
            {% if payout.alias != "" %}
            <td title="{{ payout.address }} ({{ payout.alias }})" class="mono small"><a href="/miner/{{ payout.address }}">{{ payout.alias|shorten(10) }}</a></td>
            {% else %}
            <td title="{{ payout.address }}" class="mono small"><a href="/miner/{{ payout.address }}">{{ payout.address|shorten(10) }}</a></td>
            {% endif %}
            {% endif %}
            <td class="small">{{ monero_to_xmr(t.Reward) }} XMR</td>
            {% if block.main.found %}
            <td class="small">{{ payout.global_output_index }}</td>
            <td class="small"><a href="/proof/{{ block.id }}/{{ t.Index }}" title="Prove you have a matching output for this address on this transaction">[[prove]]</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% if raw.Main.Transactions|length > 0 %}
    <h2>Included Transactions</h2>
    <ul class="mono">
        {% for t in raw.Main.Transactions %}
        <li><a href="/t/{{ t|henc }}">{{ t }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% else %}
</table>
</div>

{% endif %}

{% endblock %}