{% extends "base.html" %}

{% block title %} - Recent Likely Sweeps{% endblock %}

{% block content %}


<div style="text-align: center; font-weight: bold;">
{% if refresh %}
<a href="/sweeps">Autorefresh is ON ({{ refresh }} s)</a>
{% else %}
<a href="/sweeps?refresh">Autorefresh is OFF</a>
{% endif %}
</div>

<div style="text-align: center">
    <h2>Recent Likely Sweep Transactions by P2Pool miners</h2>
    <p>
        <a href="/transaction-lookup">[Sweep Transaction Lookup]</a>
    </p>

    {% set sweeps = sweeps %}
    {% include('tpl_sweeps.html') %}
</div>

{% endblock %}