{% if (found_blocks_is_miner is defined) and (found_blocks_is_miner) %}
<table class="center datatable" style="max-width: calc(8em + 8em + 8em + 8em + 10em + 7em + 12em + 28em)">
{% else %}
<table class="center datatable" style="max-width: calc(8em + 8em + 8em + 8em + 12em + 8em + 10em + 7em + 12em + 28em)">
{% endif %}
    <tr>
        <th style="width: 8em;">Monero Height</th>
        <th style="width: 8em;">P2Pool Height</th>
        <th style="width: 8em;">Age <small>[h:m:s]</small></th>
        {% if (found_blocks_is_miner is not defined) or (not found_blocks_is_miner) %}
            <th style="width: 8em;">Effort</th>
            <th style="width: 12em;" title="The P2Pool miner who found this block">Found by</th>
        {% endif %}
        <th style="width: 8em;">Transactions</th>
        <th style="width: 10em;">Total Reward</th>
        <th style="width: 7em;" title="Number of miners that got paid on the Coinbase Transaction">Outputs</th>
        <th style="width: 12em;">Coinbase Transaction</th>
        <th style="width: 28em;" title="You can use this Private Key to verify payouts sent by P2Pool on each block through the Coinbase Transaction">Coinbase Tx Private Key</th>
    </tr>
    {% for b in found_blocks %}
    <tr>
        <th title="{{ b.MainBlock.Id }}"><a href="/b/{{ b.MainBlock.Height|benc }}">{{ b.MainBlock.Height }}</a></th>
        {% if not is_zero_hash(b.UncleOf) %}
        <th title="{{ b.MainBlock.SideTemplateId }} is an uncle of height {{ b.EffectiveHeight }}, {{ b.UncleOf }}">
            <a href="/share/{{ b.MainBlock.SideTemplateId }}">{{ b.SideHeight }}*</a>
        </th>
        {% else %}
        <th title="{{ b.MainBlock.SideTemplateId }}">
            <a href="/share/{{ b.MainBlock.SideTemplateId }}">{{ b.SideHeight }}</a>
        </th>
        {% endif %}
        <td title="{{ utc_date(b.MainBlock.Timestamp) }}">{{ date_diff_short(b.MainBlock.Timestamp) }}</td>
        {% if (found_blocks_is_miner is not defined) or (not found_blocks_is_miner) %}
            {% if attribute(pool.sidechain.effort.last, b.MainBlock.Id) is defined %}
            <td style="font-weight:bolder; color: {{ attribute(pool.sidechain.effort.last, b.MainBlock.Id)|effort_color }};">
                {{ attribute(pool.sidechain.effort.last, b.MainBlock.Id)|round(2) }}%
            </td>
            {% else %}
            <td>unknown</td>
            {% endif %}
            {% set minerAddress = b.MinerAddress.ToBase58() %}
            {% if b.MinerAlias != "" %}
            <td title="{{ minerAddress }} ({{ b.MinerAlias }})" class="mono small"><a href="/miner/{{ minerAddress }}">{{ b.MinerAlias|shorten(10) }}</a></td>
            {% else %}
            <td title="{{ minerAddress }}" class="mono small"><a href="/miner/{{ minerAddress }}">{{ minerAddress|shorten(10) }}</a></td>
            {% endif %}
        {% endif %}
        <td>{{ b.TransactionCount }}</td>
        <th class="small">{{ monero_to_xmr(b.MainBlock.Reward) }} XMR</th>
        <td>{{ b.WindowOutputs }}</td>
        <td title="{{ b.MainBlock.CoinbaseId }}" class="mono small"><a href="/t/{{ b.MainBlock.CoinbaseId|henc }}">{{ b.MainBlock.CoinbaseId|shorten(10) }}</a></td>
        <td class="mono smaller">{{ b.MainBlock.CoinbasePrivateKey|hex }}</td>
    </tr>
    {% endfor %}
</table>